---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 57a84d23a6e598336efdfd83fc37519afd375b03
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1472755774'
      Etag:
      - W/"7b789f7bb1eee9f699d77830b0f546b5"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2bbfad8f7128c8c22cbf
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"jcasimir","id":43102,"avatar_url":"https://avatars.githubusercontent.com/u/43102?v=3","gravatar_id":"","url":"https://api.github.com/users/jcasimir","html_url":"https://github.com/jcasimir","followers_url":"https://api.github.com/users/jcasimir/followers","following_url":"https://api.github.com/users/jcasimir/following{/other_user}","gists_url":"https://api.github.com/users/jcasimir/gists{/gist_id}","starred_url":"https://api.github.com/users/jcasimir/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jcasimir/subscriptions","organizations_url":"https://api.github.com/users/jcasimir/orgs","repos_url":"https://api.github.com/users/jcasimir/repos","events_url":"https://api.github.com/users/jcasimir/events{/privacy}","received_events_url":"https://api.github.com/users/jcasimir/received_events","type":"User","site_admin":false},{"login":"jmejia","id":73824,"avatar_url":"https://avatars.githubusercontent.com/u/73824?v=3","gravatar_id":"","url":"https://api.github.com/users/jmejia","html_url":"https://github.com/jmejia","followers_url":"https://api.github.com/users/jmejia/followers","following_url":"https://api.github.com/users/jmejia/following{/other_user}","gists_url":"https://api.github.com/users/jmejia/gists{/gist_id}","starred_url":"https://api.github.com/users/jmejia/starred{/owner}{/repo}","subscriptions_ur[...]
