---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 57a84d23a6e598336efdfd83fc37519afd375b03
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1472755774'
      Etag:
      - W/"caf3fa47cb66461d89dea8f645cad01e"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2bbfad8f7128c8c22cbf
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":47661427,"name":"object-model-with-lovisa","full_name":"JoshCheek/object-model-with-lovisa","owner":{"login":"JoshCheek","id":77495,"avatar_url":"https://avatars.githubusercontent.com/u/77495?v=3","gravatar_id":"","url":"https://api.github.com/users/JoshCheek","html_url":"https://github.com/JoshCheek","followers_url":"https://api.github.com/users/JoshCheek/followers","following_url":"https://api.github.com/users/JoshCheek/following{/other_user}","gists_url":"https://api.github.com/users/JoshCheek/gists{/gist_id}","starred_url":"https://api.github.com/users/JoshCheek/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/JoshCheek/subscriptions","organizations_url":"https://api.github.com/users/JoshCheek/orgs","repos_url":"https://api.github.com/users/JoshCheek/repos","events_url":"https://api.github.com/users/JoshCheek/events{/privacy}","received_events_url":"https://api.github.com/users/JoshCheek/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/JoshCheek/object-model-with-lovisa","description":"","fork":false,"url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa","forks_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/forks","keys_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/keys{/key_id}","collaborators_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/teams","hooks_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/hooks","issue_events_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/issues/events{/number}","events_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/events","assignees_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/assignees{/user}","branches_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/branches{/branch}","tags_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/tags","blobs_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/git/refs{/sha}","trees_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/git/trees{/sha}","statuses_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/statuses/{sha}","languages_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/languages","stargazers_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/stargazers","contributors_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/contributors","subscribers_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/subscribers","subscription_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/subscription","commits_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/commits{/sha}","git_commits_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/git/commits{/sha}","comments_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/comments{/number}","issue_comment_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/issues/comments{/number}","contents_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/contents/{+path}","compare_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/compare/{base}...{head}","merges_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/merges","archive_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/downloads","issues_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/issues{/number}","pulls_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/pulls{/number}","milestones_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/milestones{/number}","notifications_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/labels{/name}","releases_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/releases{/id}","deployments_url":"https://api.github.com/repos/JoshCheek/object-model-with-lovisa/deployments","created_at":"2015-12-09T01:47:15Z","updated_at":"2016-07-14T11:50:44Z","pushed_at":"2016-05-25T17:27:20Z","git_url":"git://github.com/JoshCheek/object-model-with-lovisa.git","ssh_url":"git@github.com:JoshCheek/object-model-with-lovisa.git","clone_url":"https://github.com/JoshCheek/object-model-with-lovisa.git","svn_url":"https://github.com/JoshCheek/object-model-with-lovisa","homepage":null,"size":32,"stargazers_count":2,"watchers_count":2,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"open_issues_count":0,"forks":3,"open_issues":0,"watchers":2,"default_branch":"master","permissions":{"admin":false,"push":false,"pull":true}},{"id":41317758,"name":"1508","full_name":"JoshCheek/1508","owner":{"login":"JoshCheek","id":77495,"avatar_url":"https://avatars.githubusercontent.com/u/77495?v=3","gravatar_id":"","url":"https://api.github.com/users/JoshCheek","html_url":"https://github.com/JoshCheek","followers_url":"https://api.github.com/users/JoshCheek/followers","following_url":"https://api.github.com/users/JoshCheek/following{/other_user}","gists_url":"https://api.github.com/users/JoshCheek/gists{/gist_id}","starred[...]
