---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 57a84d23a6e598336efdfd83fc37519afd375b03
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1472755774'
      Etag:
      - W/"dd54f73c0391cae67b13851226d1219d"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2bbfad8f7128c8c22cbf
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":50979711,"name":"posse_challenges","full_name":"amaxwellblair/posse_challenges","owner":{"login":"amaxwellblair","id":14204884,"avatar_url":"https://avatars.githubusercontent.com/u/14204884?v=3","gravatar_id":"","url":"https://api.github.com/users/amaxwellblair","html_url":"https://github.com/amaxwellblair","followers_url":"https://api.github.com/users/amaxwellblair/followers","following_url":"https://api.github.com/users/amaxwellblair/following{/other_user}","gists_url":"https://api.github.com/users/amaxwellblair/gists{/gist_id}","starred_url":"https://api.github.com/users/amaxwellblair/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/amaxwellblair/subscriptions","organizations_url":"https://api.github.com/users/amaxwellblair/orgs","repos_url":"https://api.github.com/users/amaxwellblair/repos","events_url":"https://api.github.com/users/amaxwellblair/events{/privacy}","received_events_url":"https://api.github.com/users/amaxwellblair/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/amaxwellblair/posse_challenges","description":null,"fork":true,"url":"https://api.github.com/repos/amaxwellblair/posse_challenges","forks_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/forks","keys_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/keys{/key_id}","collaborators_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/teams","hooks_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/hooks","issue_events_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/issues/events{/number}","events_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/events","assignees_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/assignees{/user}","branches_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/branches{/branch}","tags_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/tags","blobs_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/git/refs{/sha}","trees_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/git/trees{/sha}","statuses_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/statuses/{sha}","languages_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/languages","stargazers_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/stargazers","contributors_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/contributors","subscribers_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/subscribers","subscription_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/subscription","commits_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/commits{/sha}","git_commits_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/git/commits{/sha}","comments_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/comments{/number}","issue_comment_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/issues/comments{/number}","contents_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/contents/{+path}","compare_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/compare/{base}...{head}","merges_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/merges","archive_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/downloads","issues_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/issues{/number}","pulls_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/pulls{/number}","milestones_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/milestones{/number}","notifications_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/labels{/name}","releases_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/releases{/id}","deployments_url":"https://api.github.com/repos/amaxwellblair/posse_challenges/deployments","created_at":"2016-02-03T06:38:16Z","updated_at":"2016-02-12T13:12:47Z","pushed_at":"2016-02-24T15:33:16Z","git_url":"git://github.com/amaxwellblair/posse_challenges.git","ssh_url":"git@github.com:amaxwellblair/posse_challenges.git","clone_url":"https://github.com/amaxwellblair/posse_challenges.git","svn_url":"https://github.com/amaxwellblair/posse_challenges","homepage":null,"size":5968,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":2,"mirror_url":null,"open_issues_count":0,"forks":2,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":55811665,"name":"affordable-housing-app","full_name":"bethsebian/affordable-housing-app","owner":{"login":"bethsebian","id":12875824,"avatar_url":"https://avatars.githubusercontent.com/u/12875824?v=3","gravatar_id":"","url":"https://api.github.com/users/bethsebian","html_url":"https://github.com/bethsebian","followers_url":"https://api.github.com/users/bethsebian/followers","following_url":"https://api.github.com/users/bethsebian/following{/other_user}","gists_url":"https://api.gith[...]
