---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/deborahleehamel/followers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token 57a84d23a6e598336efdfd83fc37519afd375b03
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1472755774'
      Etag:
      - W/"f9836c44e55688068cebd867f633da4b"
      X-Oauth-Scopes:
      - user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - 2bbfad8f7128c8c22cbf
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"weilandia","id":13652979,"avatar_url":"https://avatars.githubusercontent.com/u/13652979?v=3","gravatar_id":"","url":"https://api.github.com/users/weilandia","html_url":"https://github.com/weilandia","followers_url":"https://api.github.com/users/weilandia/followers","following_url":"https://api.github.com/users/weilandia/following{/other_user}","gists_url":"https://api.github.com/users/weilandia/gists{/gist_id}","starred_url":"https://api.github.com/users/weilandia/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/weilandia/subscriptions","organizations_url":"https://api.github.com/users/weilandia/orgs","repos_url":"https://api.github.com/users/weilandia/repos","events_url":"https://api.github.com/users/weilandia/events{/privacy}","received_events_url":"https://api.github.com/users/weilandia/received_events","type":"User","site_admin":false},{"login":"MDes41","id":8398525,"avatar_url":"https://avatars.githubusercontent.com/u/8398525?v=3","gravatar_id":"","url":"https://api.github.com/users/MDes41","html_url":"https://github.com/MDes41","followers_url":"https://api.github.com/users/MDes41/followers","following_url":"https://api.github.com/users/MDes41/following{/other_user}","gists_url":"https://api.github.com/users/MDes41/gists{/gist_id}","starred_url":"https://api.github.com/users/MDes41/starred{/owner}{/repo}","subscription[...]
