<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <h2 class="brand brand-name navbar-left">
      <%= image_tag "octocat_thumb.png", class: "logo" %>
    </h2>

  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="pull-right nav navbar-nav">
      <% if current_user %>
      <li class="navbar-brand">Welcome <%= current_user.name %>.</li>
      <li class="navbar-brand"><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
      <li class="navbar-brand">  <a href="https://github.com/login/oauth/authorize?client_id=2bbfad8f7128c8c22cbf&scope=user:email">Sign in with Github</a></li>
      <% end %>
    </ul>
  </div>

</nav>
