<div class = "container text-center">
<!-- <%# if current_user %>
  <h1>Welcome, <%#= current_user.name %> </h1>
<%# else %> -->
<h1> Your life will be transformed if you<br />
  <a href="https://github.com/login/oauth/authorize?client_id=95da052db24b0ebbcf72&scope=user:email">Login</a>
  <%#= link_to "Sign In", github_login_path %> </h1>
<%# end %>
</div>
